// COLORS
$color-primary: rgba(253, 55, 126, 1);
$color-primary-2: rgb(227,73,129, 1);
$color-secondary: rgba(3, 184, 152, 1);

$grey-4: rgba(33, 37, 41, 1);
$grey-3: rgba(134, 142, 150, 1);
$grey-2: rgba(233, 236, 239, 1);
$grey-1: rgba(248, 249, 250, 1);

// FONT-SIZE
$t_size-title1: 2.375rem;
$t_size-title2: 1.375rem;
$t_size-title3: 1rem;
$t_size-title4: 0.75rem;
$t_size-button: 0.875rem;
$t_size-button2: 1rem;
$t_size-headline: 1rem;
$t_size-body: 0.75rem;

// FONT-WEIGHT
$t_weight-title1: 800;
$t_weight-title2: 700;
$t_weight-title3: 700;
$t_weight-title4: 600;
$t_weight-button: 600;
$t_weight-button2: 500;
$t_weight-headline: 400;
$t_weight-body: 400;

// LINE-HEIGHT
$t_line-title1: 3rem;
$t_line-title2: 2.125rem;
$t_line-title3: 1.875rem;
$t_line-title4: 1.625rem;
$t_line-title4_example: 1.25rem;
$t_line-button: 1.188rem;
$t_line-headline: 1.625rem;
$t_line-body: 1.375rem;